// Typography
$principal_font:'Varela Round', sans-serif;
$secondary_font:'Bebas Neue', cursive;

//variables
$darkGreen: #335A90;
$green:#4CB8B3;
$pink: #F53756;
$white: #fff;
$purple: #752F97;
$black: #000000;
$grey:rgb(156, 129, 129);
$shadow: 4px 3px 0 #7A7A7A;

//bordertest
$borderTest: solid red 1px;